# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (uncomment if you want to exclude VS Code settings)
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
*.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/captures/
/android/gradlew.bat
/android/local.properties
android/**/GeneratedPluginRegistrant.java
android/**/GeneratedPluginRegistrant.kt

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec

# macOS
**/macos/Pods/
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Windows
**/windows/flutter/ephemeral/

# Environment
.env
.env.*
